################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FeatureRecognitionAPI/FeatureRecognitionAPI/obj/Debug/net8.0/FeatureRecognitionAPI.GeneratedMSBuildEditorConfig.editorconfig
/FeatureRecognitionAPI/.vs/**
*.cache
*.AssemblyInfo.cache
*.AssemblyReference.cache
*.bin
*.props
*.vsidx
