.drag-drop {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  max-width: 90vw; 
  max-height: 90vh; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.document-uploader {
  border: 2px dashed #4282fe;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  cursor: pointer;

  &.active {
    border-color: #6dc24b;
  }

  .upload-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    svg {
      font-size: 36px;
      margin-right: 1rem;
    }

    div {
      p {
        margin: 0;
        font-size: 16px;
      }

      p:first-child {
        font-weight: bold;
      }
    }
  }

  .file-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the file items horizontally */
    justify-content: center; /* Center file items vertically */
    gap: 0.5rem;
    width: 100%;
    height: 5vh;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center the file items in the container */
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }

  .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 90%; /* Adjust the width to center properly */
    max-width: 1000px; /* Set a max width for consistent alignment */
    border: 1px solid var(--border-color);
    border-radius: 8px;

    .file-info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      flex: 1;

      p {
        margin: 0;
        font-size: 14px;
        color: #333;
      }
    }

    .file-actions {
      cursor: pointer;

      svg {
        font-size: 18px;
        color: #888;
      }

      &:hover {
        svg {
          color: #d44;
        }
      }
    }
  }

  .browse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    &:hover {
      background-color: transparent;
    }
  }

  .success-file {
    display: flex;
    align-items: center;
    color: #6dc24b;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }
  }

  input[type="file"] {
    display: none;
  }
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 48px;
  border: none;
  font-size: 16px;
  background: rgb(84,114,210);
  background: linear-gradient(circle, rgba(84,114,210,1) 0%, rgba(0,95,255,1) 100%);
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border: 3px solid #5472d2;
  margin-top: 5px;
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  opacity: 1;
  transition: all 0.2s ease-in;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #ffffff;
  color: #000000;
  border: 3px solid #5472d2;
  animation: .2s ease-in;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}

.loader {
  color: #006aff;
  position: relative;
  font-size: 11px;
  background: #006aff;
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2em;
  background: #006aff;
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}
.loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loading-text {
  margin-top: 100px;
  position: fixed;
}

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

h3 {
  text-align: center;
}