
.nav-bar {
    background-color: #262262;
    border-bottom-color: #131131;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}
.nav-items {
    color: white;
    display: inline-block;
    padding: 5px;
    border-right-width: 2px;
    border-right-color: #131131;
    border-right-style: solid;
}