.upload-and-show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  max-height: 100%;
}

.upload-container {
  align-items: center;
  justify-content: center;
  position: relative;
}

.drag-drop {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.document-uploader {
  border: 2px dashed #4282fe;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  cursor: pointer;

  &.active {
    border-color: #6dc24b;
  }

  .upload-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    svg {
      font-size: 36px;
      margin-right: 1rem;
    }

    div {
      p {
        margin: 0;
        font-size: 16px;
      }

      p:first-child {
        font-weight: bold;
      }
    }
  }

  .file-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 5vh;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }

  .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 90%;
    max-width: 1000px;
    border: 1px solid var(--border-color);
    border-radius: 8px;

    .file-info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      flex: 1;

      p {
        margin: 0;
        font-size: 14px;
        color: #333;
      }
    }

    .file-actions {
      cursor: pointer;

      svg {
        font-size: 18px;
        color: #888;
      }

      &:hover {
        svg {
          color: #d44;
        }
      }
    }
  }

  .browse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    &:hover {
      background-color: transparent;
    }
  }

  .success-file {
    display: flex;
    align-items: center;
    color: #6dc24b;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }
  }

  input[type="file"] {
    display: none;
  }
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 48px;
  border: none;
  font-size: 16px;
  background: rgb(84,114,210);
  background: linear-gradient(circle, rgba(84,114,210,1) 0%, rgba(0,95,255,1) 100%);
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border: 3px solid #5472d2;

}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  opacity: 1;
  transition: all 0.18s ease-in-out;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #ffffff;
  color: #000000;
  border: 3px solid #5472d2;
  animation: .18s ease-in-out;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
  overflow: clip;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
  margin-top: 7%;
}

.quote-container {
  position: relative;
}

.quote-form-fields {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  gap: 7%;
}

label {
  font-weight: 600;
  margin-bottom: 1%;
}

.quote-form-label-and-select {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.features-table {
  max-height: 55vh;
  overflow-y: auto;
}

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table th {
  position: sticky;
  top: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #dddfe1;
}

table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

h3 {
  text-align: center;
}

.submission-message {
  text-align: center;
  font-size: larger;
}

.add-feature {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
}