body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MDC-logo {
  position: fixed;
  top: 15%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

h1 {
  position: fixed;
  top: 25%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 50px;
}
